body{
  background-image: LLtE.gif;
}

#p5-canvas {
  position: absolute;
  left:100px;
  top: 150px;

  background-color: white;

  width: 700px;
  height: 500px;

  border-width: 0;
  margin: 0;
  padding: 0;
}
